.choose-type {
	padding-top: 0.88rem;
	color: #353535;
	width: 100%;
	h2 {
		height: 0.94rem;
		color: #353535;
		line-height: 0.94rem;
		font-size: 0.36rem;
		text-align: center;
		border-top: 1px solid #d0d0d0;
	}
	.type-wrapper {
		border-bottom: 1px solid #d0d0d0;
		.type-title {
			font-size: 0.24rem;
			height: 0.4rem;
			line-height: 0.4rem;
			background-color: #f1f1f1;
			padding-left: 0.26rem;
		}
		.type-content {
			padding: 0 0.26rem;
			border-bottom: 1px solid #d0d0d0;
			&:last-child {
				border: none;
			}
			.car-style {
				margin-top: 0.3rem;
				padding-bottom: 0.24rem;
				font-size: 0.32rem;
				font-family: Ping-Fang-SC-Medium;
				display: block;
			}
		}
	}
}